
<div class="container">
    <div class="row">

        <div class="col-lg-12">
                <button mat-icon-button [matMenuTriggerFor]="menu" style="float: right">
                <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/">
                    <mat-icon>dialpad</mat-icon>
                    <span>Home</span>
                </button>
                <button mat-menu-item routerLink="/produit">
                    <mat-icon>dialpad</mat-icon>
                    <span>Produits</span>
                </button>
                <button mat-menu-item routerLink="/categorie">
                    <mat-icon>dialpad</mat-icon>
                    <span>Categories</span>
                </button>
                </mat-menu>


        </div>

        <div class="col-lg-12">

             <router-outlet> </router-outlet>


        </div>

    </div>

</div>
